spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 1234
    url: jdbc:mysql://localhost/coin?autoReconnect=true&useSSL=false&serverTimezone=UTC
    username: chen
    slave1: jdbc:mysql://localhost/coin?autoReconnect=true&useSSL=false&serverTimezone=UTC
  data:
    jpa:
      repositories:
        bootstrap-mode: lazy
        enabled: true

  jpa:
    database: MYSQL
    generate-ddl: false
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        use_sql_comment: false
        format_sql: false
        type: trace
        enable_lazy_load_no_trans: true

# DB μ•”νΈν™”
crypto:
  key: S0ZDRjdBMTIzT0E1NktBQg==
  iv: 8CEC9Q6GHAT144TB
